// Mixin for sprites
// 
// @spriteVals - variable with needed image, under mixin code
.spriter( @spriteVals ) {

  display: inline-block;
  vertical-align: middle;
  background-size: 27px;

  width: extract( @spriteVals, 1 );
  height: extract( @spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: e(%('url(%s)', extract( @spriteVals, 3 ) ) );
  background-position: extract( @spriteVals, 4 ) extract( @spriteVals, 5 );
}
@spriter-path: '../img/spriter.png';

@mezhitsa: 25px 25px @spriter-path -1px -17px;
@add-to-home: 11px 15.000000000000009px @spriter-path -1px -0.9999999999999966px;



.clearfix() {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &:before {
    content: " ";
    display: table;
  }
  *zoom: 1;
}


.font-size(@value) {
  font-size: unit(@value, px); 
  font-size: unit(@value/@base-font-size, rem);
}