#rules-modal {
  position: absolute;
  opacity: 0;
  transition: opacity .2s ease;
  z-index: 9;
}
// .show-rules-modal
// body class for showing modal window
.show-rules-modal #rules-modal {
  opacity: 1;
}
.no-js #rules-modal {
  display: none;
}
.no-js .show-rules-modal #rules-modal {
  display: block;
}
.rules-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-color: fade(#fff, 98%);
}
.rules-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: auto;
}
.rules-modal-table {
  display: table;
  margin: auto;
  max-width: 960px;
  min-width: 768px;
  height: 100%;

  @media @phone {
    width: 100%;
    min-width: 320px;
  }
}
.rules-modal-cell {
  display: table-cell;
  vertical-align: middle;
}
.rules-modal-content {
  position: relative;
  padding: (@line/2);
  font-size: 0;
}
.rules-modal-close {
  position: absolute;
  top: (@line/2);
  right: (@line/2);
  cursor: pointer;
}
.rules-modal-close {
  a {
    .spriter(@modal-close);
  }
}
.rules-modal-unit {
  display: inline-block;
  vertical-align: top;
  width: 45.5319148936%;
  margin: @line*2 (@line/2);

  @media @phone {
    display: block;
    width: auto;

    &:first-of-type {
      margin-top: (@line/2);
    }

    &:last-of-type {
      margin-bottom: (@line/2);
    }
  }
}
.rules-modal-title {
  margin: 0;
  .font-size(33px);
  font-weight: bold;
  line-height: 1.2727272727;
}
.rules-modal-p {
  margin: 0;
  font-size: unit(@base-font-size, px);
}
.red-mark {
  color: @red;
  text-decoration: underline;
}
mark {
  background: #fdf0a8;
  outline: 5px solid #fdf0a8;
  // fix white border round text
  box-shadow: 0 0 0 5px #fdf0a8;

  span {
    // fix text overflow by outline
    position: relative;
  }
}